figure {
  margin: 2em;
  padding: 1em;
  background: #ffcc80;
  width: 200px;
  /* 2. adding some styles */
  transform: rotate(45deg);
  /* 3. modify some styles */
  /* transform: skew(-20deg); */
  /* 5. modify some styles */
  transform: rotate(15deg);
}
/* 4. adding some styles */
figure img {
  transform: translateX(100px) translatey(-30px);
  /* 5. modify some styles */
  transform: rotate(15deg) scale(0.5);
}

