body {
  font-size: 1.1em;
}
figure {
  background-color: #ededdd;
  border: 1pt solid #a8a8a8;
  padding: 5px;
  width: 150px;
  top: 150px;
  left: 200px;
  /* 2. modify some styles */
  position: absolute;
  /* 3. modify some styles */
  /* z-index: 5; */
  /* 4. modify some styles */
  /* z-index: 1; */
  /* 4. modify some styles */
  z-index: -1;
}

figcaption {
  font-size: 1.25em;
  background-color: yellow;
  padding: 5px;
  top: 90px;
  left: 140px;
  /* 2. modify some styles */
  position: absolute;
  /* 3. modify some styles */
  /* z-index: 1; */
  /* 4. modify some styles */
  /* z-index: -1; */
  /* 4. modify some styles */
  z-index: 1;
}
