body {
  font-size: 1.1em;
  /* 2. modify some styles */
  width: 150px;
  float: left;
  /* 3. modify some styles */
  /* float: right; */
}

figure {
  border: 1pt solid #a8a8a8;
  background-color: #ededdd;
  padding: 5px;
  margin: 10px;
}
