<div class="row">
   <section id="content" class="col-12 content-fluid">

      <div class="cate-heading mb-3">
         <img class="img-fluid" src="/assets/images/content/banner_enquiry.jpg" style="width:100%">
         <!-- /heading -->
      </div>

      <div class="section-detail">
         <h3 class="c-blue-a5">Thư ngỏ của Hiệu trưởng</h3>
         <div class="d-md-flex justify-content-between border-bottom">
            <!-- Mr. Hung div class="col-md-5 pl-0">
                <p class="timer">
                                                                                        Thứ ba,
                                                    Ngày 14 tháng 02 năm 2017 1:57 pm</p>
            </div-->
            <div class="col-md-7 text-sm-right pr-0">
               <ul class="detail-tool hidden-md-down">
                  <!-- <li>

                           <div class="fb-like fb_iframe_widget" data-href="http://ntt.edu.vn/web/tin-tuc/Thu-ngo-hieu-truong" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=40&amp;href=http%3A%2F%2Fntt.edu.vn%2Fweb%2Ftin-tuc%2FThu-ngo-hieu-truong&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small">
                               <span style="vertical-align: bottom; width: 61px; height: 20px;"><iframe name="f8fc8260fe4104"
                             width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0"
                             allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                             src="https://www.facebook.com/v2.10/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df1fee7c59312f0c%26domain%3Dntt.edu.vn%26origin%3Dhttp%253A%252F%252Fntt.edu.vn%252Ff351cf105f7b188%26relation%3Dparent.parent&amp;container_width=40&amp;href=http%3A%2F%2Fntt.edu.vn%2Fweb%2Ftin-tuc%2FThu-ngo-hieu-truong&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small"
                             style="border: none; visibility: visible; width: 61px; height: 20px;"
                             class=""></iframe></span></div>

                           <div class="fb-share-button fb_iframe_widget" data-href="http://ntt.edu.vn/web/tin-tuc/Thu-ngo-hieu-truong" data-layout="button" data-size="small" data-mobile-iframe="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=40&amp;href=http%3A%2F%2Fntt.edu.vn%2Fweb%2Ftin-tuc%2FThu-ngo-hieu-truong&amp;layout=button&amp;locale=en_US&amp;mobile_iframe=true&amp;sdk=joey&amp;size=small">
                               <span style="vertical-align: bottom; width: 59px; height: 20px;"><iframe name="f381a929792ae9"
                             width="1000px" height="1000px" title="fb:share_button Facebook Social Plugin"
                             frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                             allow="encrypted-media"
                             src="https://www.facebook.com/v2.10/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df3b2f5e587b57d4%26domain%3Dntt.edu.vn%26origin%3Dhttp%253A%252F%252Fntt.edu.vn%252Ff351cf105f7b188%26relation%3Dparent.parent&amp;container_width=40&amp;href=http%3A%2F%2Fntt.edu.vn%2Fweb%2Ftin-tuc%2FThu-ngo-hieu-truong&amp;layout=button&amp;locale=en_US&amp;mobile_iframe=true&amp;sdk=joey&amp;size=small"
                             style="border: none; visibility: visible; width: 59px; height: 20px;"
                             class=""></iframe></span></div>

                       </li> -->

                  <li>
                     <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/"></div>
                  </li>

                  <li>
                     <!-- <script src="https://apis.google.com/js/platform.js" gapi_processed="true"></script> -->

                     <div style="position: absolute; width: 450px; left: -10000px;" id="___ytsubscribe_0">
                        <!-- <iframe ng-non-bindable="" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" id="I0_1488986409421" name="I0_1488986409421" src="https://www.youtube.com/subscribe_embed?usegapi=1&amp;channel=GoogleDevelopers&amp;layout=default&amp;count=hidden&amp;origin=null&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.oFlRCz4BOT4.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCONq31VuKRGSItHwHjJPKFUioSpTQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1488986409421&amp;parent=file%3A%2F%2F&amp;pfname=&amp;rpctoken=15500286" data-gapiattached="true" width="100%" frameborder="0"></iframe> -->
                     </div>
                     <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default"
                        data-count="hidden" data-gapiscan="true" data-onload="true" data-gapistub="true"></div>
                  </li>
                  <li>
                     <!-- <script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true">
                       { lang: 'vi' }
                    </script> -->

                     <div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
                        <!-- <iframe ng-non-bindable="" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" id="I1_1488986409442" name="I1_1488986409442" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=middle&amp;annotation=none&amp;origin=null&amp;url=file%3A%2F%2F%2FUsers%2Fvinhkh%2FDownloads%2Fdh_nttu_03082017%2F03_detail_new.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.oFlRCz4BOT4.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCONq31VuKRGSItHwHjJPKFUioSpTQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I1_1488986409442&amp;parent=file%3A%2F%2F&amp;pfname=&amp;rpctoken=32158035" data-gapiattached="true" width="100%" frameborder="0"></iframe> -->
                     </div>
                     <div class="g-plusone" data-size="middle" data-annotation="none" data-gapiscan="true"
                        data-onload="true" data-gapistub="true"></div>
                  </li>

                  <li class="border-gray btn-print">
                     <a href="#" onclick="window.print()"><i class="fa fa-print" aria-hidden="true"></i></a>
                  </li>
                  <li class="border-gray btn-envelope">
                     <a href="mailto:info@ntt.edu.vn"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </li>
                  <li class="border-gray btn-pdf">
                     <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                  </li>
               </ul>
            </div>
         </div>
         <p><img alt="" src="assets/images/content/PGS TS Nguyễn Mạnh Hùng.JPG"
               style="width: 200px; height: 267px; float: left; margin-left: 10px; margin-right: 10px;">“Non sông Việt
            Nam có trở nên tươi đẹp hay không, dân tộc Việt Nam có bước tới đài vinh quang để sánh vai với các cường
            quốc năm châu hay không, chính là nhờ một phần vào công học tập của các cháu”.</p>

         <p>Thực hiện lời dạy của Bác, chúng tôi – tập thể lãnh đạo, cán bộ công nhân viên, giảng viên, sinh viên Trường
            Đại học Nguyễn Tất Thành – tự hào và cảm thấy hạnh phúc đã xây dựng ngôi trường, tòa nhà Đại học Nguyễn Tất
            Thành trở thành tòa nhà tri thức, nơi hội tụ tinh hoa, tôn sư trọng đạo, tri thức tỏa sáng.</p>

         <p>Thành công này đến từ sự cộng hưởng trí tuệ, niềm dam mê, sự sáng tạo, nỗ lực không ngừng và niềm tin vào
            những giá trị sống của tập thể và từng cá nhân trong nhà trường.</p>

         <p>Trải qua quá trình 20 năm hình thành và phát triển, đến nay, Trường Đại học Nguyễn Tất Thành (ĐH NTT) đã
            khẳng định được tên của mình trên bản đồ giáo dục Việt Nam.</p>

         <p><em>Về chuẩn quốc gia:</em> ĐH NTT tự hào là trường đại học tư thục đầu tiên sánh vai cùng với 24 trường đại
            học công lập khác đạt chuẩn Quốc gia (ở Việt Nam mới chỉ có 25 trường đại học đạt chất lượng kiểm định này).
         </p>

         <p><em>Về chuẩn quốc tế: </em>ĐH NTT đã được tổ chức kiểm định QS Stars (Anh Quốc) , Nhà trường đang tiến tới
            mục tiêu đạt được chất lượng kiểm định AUN (ASEAN University Network&nbsp;– mạng lưới các trường đại học
            Đông Nam Á). Chuẩn kiểm định chất lượng AUN đang là cái đích mà nhiều trường ĐH tại Việt Nam và trong khu
            vực Đông Nam Á hướng tới. Mục tiêu của các trường ĐH không chỉ là thu hút học viên mà còn khẳng định chất
            lượng đào tạo và dần tiến tới là việc xây dựng văn hóa chất lượng của một trường ĐH.</p>

         <p>Trường ĐH Nguyễn Tất Thành cam kết thúc đẩy sự phát triển về kinh tế, xã hội, văn hóa và môi trường của TP.
            Hồ Chí Minh và Việt Nam thông qua các hoạt động đào tạo, nghiên cứu và phục vụ cộng đồng, xã hội dực trên
            liên minh chiến lược gắn kết với các doanh nghiệp và các viện nghiên cứu nhằm tạo ra nguồn nhân lực có chất
            lượng, có sức cạnh tranh cao trên thị trường lao động trong và ngoài nước.</p>

         <p>Nhà trường xác định đây là một trường định hướng ứng dụng và thực hành, vì vậy, lãnh đạo nhà trường đầu tư
            trang bị từ cơ sở vật chất đến chương trình để đáp ứng được mục tiêu đó. Nhà trường cũng tăng cường hợp tác
            với các trường đại học tiên tiến của nước ngoài, trong việc trao đổi giáo viên, sinh viên; giáo viên được
            gởi đi nâng cao nghiệp vụ ở nước ngoài; đầu tư cho công tác nghiên cứu khoa học… tất cả nhằm một mục đích
            duy nhất là chất lượng đầu ra cho sinh viên.</p>

         <p>Mỗi sinh viên của Trường Đại học Nguyễn Tất Thành phải mang khát vọng làm chủ, khát vọng dẫn đầu, khát vọng
            khác biệt…</p>

         <p>Thông qua triết lý giáo dục của nhà trường: <strong>Thực học – Thực hành – Thực danh – Thực nghiệp</strong>,
            chúng tôi hy vọng mỗi thành viên sẽ trở thành một công dân toàn diện, hội nhập vào dòng chảy toàn cầu, góp
            phần khởi nghiệp, kiến quốc, sánh vai với các cường quốc năm châu…</p>

         <p align="right">PGS.TS Nguyễn Mạnh Hùng</p>

         <p align="right">Chủ tịch Hội đồng Quản trị</p>

         <p style="text-align: right;">Hiệu trưởng ĐH Nguyễn Tất Thành</p>
         <!-- /section-detail-->
      </div>
      <div class="border-top pt-1 tag-list">
         <strong>Tag:</strong>
      </div>
      <div class="col-md-7 offset-md-5 text-sm-right pr-0 mt-3">
         <ul class="detail-tool hidden-md-down">

            <li>

               <div class="fb-like" data-href="http://ntt.edu.vn/web/tin-tuc/Thu-ngo-hieu-truong"
                  data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                  data-share="true"></div>

            </li>

            <li>
               <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/"></div>
            </li>

            <li>
               <script src="js/platform.js" gapi_processed="true"></script>

               <div style="position: absolute; width: 450px; left: -10000px;" id="___ytsubscribe_0">
                  <!-- <iframe ng-non-bindable hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" id="I0_1488986409421" name="I0_1488986409421" src="subscribe_embed.html#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I0_1488986409421&parent=file%3A%2F%2F&pfname=&rpctoken=15500286" data-gapiattached="true" width="100%" frameborder="0"></iframe> -->
               </div>
               <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="hidden"
                  data-gapiscan="true" data-onload="true" data-gapistub="true"></div>
            </li>
            <li>
               <script src="js/platform.js" async defer gapi_processed="true">
                  {
                     lang: 'vi'
                  }
               </script>

               <div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
                  <!-- <iframe ng-non-bindable hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" id="I1_1488986409442" name="I1_1488986409442" src="fastbutton.html#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I1_1488986409442&parent=file%3A%2F%2F&pfname=&rpctoken=32158035" data-gapiattached="true" width="100%" frameborder="0"></iframe> -->
               </div>
               <div class="g-plusone" data-size="middle" data-annotation="none" data-gapiscan="true" data-onload="true"
                  data-gapistub="true"></div>
            </li>

            <li class="border-gray btn-print">
               <a href="#" onclick="window.print()"><i class="fa fa-print" aria-hidden="true"></i></a>
            </li>
            <li class="border-gray btn-envelope">
               <a href="mailto:info@ntt.edu.vn"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li class="border-gray btn-pdf">
               <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </li>
         </ul>
      </div>
      <div class="section sub-slider-2 col-12">
         <h2 class="heading-2">Các tin khác</h2>
         <div class="text-right">
            <a class="c-black font-weight-bold" href="/web/tin-tuc-khac/thu-ngo-hieu-truong"><i
                  class="fa fa-chevron-circle-right mr-2 c-blue-a5"></i>Xem thêm</a>
         </div>
      </div>
      <!-- /content -->
   </section>
</div>